*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
src/setup/setup_cloud.f90
data/velfield/cube_v3.dat
.gitignore
data/velfield/cube_v2.dat
data/velfield/cube_v1.dat
build/Makefile_setups
src/main/eos copy.f90
src/utils/track_clumps.f90
src/utils/analysis_clumptrack.f90
src/main/readwrite_dumps_fortran.F90
src/main/readwrite_dumps_fortran.F90
src/main/readwrite_dumps_fortran.F90
